body, html{
    background: rgb(92, 91, 91);
    background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
}

.painel{
    height: 100%;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 10em;

}
.nome_painel{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 1em;
    font-size: 2em;
    font-weight: 700;
}


.pessoa{
    text-align: left;
    padding: 2em;
    height: 500px;
    width: 300px;
    border: 1px solid rgb(167, 166, 166);
    border-radius: 1em;
    margin-left: auto;
    margin-right: auto;
    line-height: 2em;
    background: aliceblue;

}

.botao_like{
    margin-top: 1em;
    float: left;
    width: 10em;
    height: 3em;
    background: rgb(120, 213, 139);
    border-color: rgb(120, 213, 139);
    border-radius: 1em;
    color: black;
    
}

.botao_deslike{
    float: right;
    margin-top: 1em;
    width: 10em;
    height: 3em;
    background: red;
    border-color: red;
    border-radius: 1em;
    color: white;

}

.pessoa > div{
    position: relative;
    margin-top: 0.5em;
}

.nome, .cnpj, .email{
    filter: blur(3px);

}
